<div class="container">
  <% if notice.present? %>
    <div class="alert alert-success w-50 mt-3">
      <%= flash.now[:notice] %>
    </div>
  <% end %>

  <div class="my-8">
    <h1 class="font-bold text-5xl">Todo List</h1>
  </div>

  <div class="my-8">
    <%= form_with model: @task, url: tasks_path, method: :post do |form| %>
      <%= form.text_field :description, placeholder: "Add new task...", class: "py-2 px-3 rounded-md shadow-2xl"%>
      <%= form.submit "Save", class: "py-2 px-3 bg-blue-500 text-white text-sm font-semibold rounded-md shadow-lg shadow-blue-500/50" %>
    <% end %>
  </div>

  <div class="my-8" data-controller="completed">
    <div class="font-semibold mb-3">Tasks</div>

    <div class="grid gird-cols-1 gap-3 w-1/3">
      <% @tasks.each do |task| %>
        <% if task.completed == false && task.deleted == false %>
          <div class="inline-flex font-semibold shadow-2xl rounded-lg px-3 py-3 ring-1 ring-blue gap-3">
            <%= button_to "___", update_completed_task_path(task), method: :patch, class: "my-2 mr-2" %>
            <div class="font-normal my-auto me-auto">
              <%= task.description %>
            </div>
            <button class="py-2 px-3 bg-blue-500 text-white text-sm font-semibold rounded-md shadow-lg shadow-blue-500/50" data-action="click->completed#update">Edit</button>
            <%#= button_to "Edit", data: {controller: "click->completed#update"}, class: "py-2 px-3 bg-blue-500 text-white text-sm font-semibold rounded-md shadow-lg shadow-blue-500/50" %>
            <%= button_to "Delete", task_path(task), method: :delete, class: "py-2 px-3 bg-red-500 text-white text-sm font-semibold rounded-md shadow-lg shadow-red-500/50" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="my-8">
    <div class="font-semibold mb-3">Completed Tasks</div>

    <div class="grid gird-cols-1 gap-3 w-1/3">
      <% @tasks.each do |task| %>
        <% if task.completed == true && task.deleted == false %>
          <div class="inline-flex font-semibold shadow-2xl rounded-lg px-3 py-3 ring-1 ring-green-500 gap-3 bg-green-200 text-green-800">
            <%= task.description %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>